@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: #5F2C82;
    display: block;
}

div#area{
    width: 300px;
    height: 500px;
    margin: auto;

    border-radius: 15px;
    background-color: white;
}


section#imagem{
    height: 30%;
    background-image: url("../imagem/metal.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    padding: 10px 20px;
}

p{
    padding: 5px 20px;
}

p.p-dados-login{
    width: 90%;
    margin: 10px auto;

    border-radius: 8px;
    background-color: #5F2C82;
}

input.dados-login { 
    width: 80%;
    padding: 10px;

    border-radius: 8px;
    border: none;
    background-color: #94CFCD
}

input.dados-login:focus { background-color: white; }

.bt-login:hover{ background-color: #56a4a2; }

.bt-login:active{ background-color: #94CFCD; }

input.bt-login{ width: 100%; background-color: #94CFCD; }

#entrar{
    border: 1px solid rgb(144, 141, 141);;
}
#esqueci-senha{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(144, 141, 141);
    background-color: white;
    
    
}

.material-symbols-outlined { 
    color: white;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
 }
